*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body
{
min-width: 375px;
}
body {
    background: rgb(242,147,189);
    background: linear-gradient(90deg, rgba(242,147,189,1) 0%, rgba(116,169,232,1) 100%);
    
    padding: 10px;
    font-family: 'Comic Neue', cursive;
    font-size: 30px;
    margin: 0 auto;

}

.logo {
    width: 100%;
    text-align: center;
}

/* HEADER START */

header {
    
    width: 100%;
    max-width: 1280px;

    margin: 1% auto;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    padding-bottom: 10px;
}
header a {

    text-decoration: none;

    font-size: 1em;
    color: black;
    
    
}

header a:hover {
    color: white;
    
}


/* HEADER END */

@media screen and (max-width: 768px) {
    body {
        font-size: 18px;
    }
    header {
        flex-direction: column ;
        align-items: center;
    }

    .container  {
        min-width: 300px;
    }
}
@media screen and (max-width: 1028px){
    body {
        font-size: 15px;
    }
} 

h1{
    width: 60%;
    margin: 1% auto;
    text-align: center;
}

.container {
    
    width: 30%;
    max-width: 1280px;
    margin: 2% auto;
    
    
    border-radius: 12px;
    background-color: white;
    
}

/* CONTENT AND SELECT START */


.content{
    
    width: 100%;
    
    font-size: .7em;
    text-align: center;
}

.content p{
    padding: 3%;
    border-bottom: 1px solid black;
}
.content a{

    display: block;
    padding: 3%;

    border-radius: 0 0 12px 12px;
    border: none;

    color: black;
    text-decoration: none;
    font-size: 1.5em;

    
    background-color: rgb(244,128,178); 
}
.content a:hover{
    color: white;
    background:  rgba(106,164,232,0.8883928571428571);
}


.container .content:last-child{
    padding: 0;
    margin: 0;
}