*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: rgb(244,128,178);
    background: radial-gradient(circle, rgba(244,128,178,1) 0%, rgba(106,164,232,0.8883928571428571) 100%);
    
    padding: 10px;
    font-family: 'Comic Neue', cursive;
    font-size: 30px;
    margin: 0 auto;
 
}
/* HEADER START */

header {
    
    width: 100%;
    max-width: 1280px;

    background: white;

    border-radius: 12px;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 520px) {
    body {
        font-size: 18px;
    }
    header {
        flex-direction: column ;
        align-items: center;
    }
    
}

header a {
    width: 50%;
    
    padding: 2% 2%;

    text-decoration: none;
    
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1em;
    color: black;
    
    
}

header a:hover {
    background:  rgba(106,164,232,0.8883928571428571);
    color: white;
    border-radius: 12px;
}

/* HEADER END */


/* CONTAINER START */

.container {
    
    width: 100%;
    max-width: 768px;
    

    border-radius: 12px;
    background-color: white;

    margin: 2% auto;
    padding: 5px;

    display: flex;
    flex-flow: row wrap;
    
    position: relative;
    
}

.pic {

    height: 250px;
    width: 250px;
    
    
    background-size: 90%;
    background-position: center center;
    background-repeat: no-repeat;

    margin: 1% auto;
    

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    border: 1px #d6d6d6 solid;
    border-radius: 10px;
    
    position: relative;
   
}
/* DESCRIPTION START */
.pic::before{
    content: "";

    width: 90%;
    height: 90%;
    position: absolute;
    left: 5%;
    top: 5%;

    background-color: rgba(0, 0, 0, 0 );

    z-index: 2;
    
    transition: .3s linear;

    
}
.pic p {
    width: 80%;
    height: 80%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    opacity: 0;

    text-align: center;
    color: white; 
    font-size: .5em;

    position: relative;
}

.pic:hover p{
    opacity: 1;
}

.pic:hover p a
{
    opacity: 1;
}

.pic:hover::before {
    background-color: rgba(0, 0, 0, 0.7 );
}

.pic * {
    position: relative;
    z-index: 3;
}

.sbmt {
    opacity: 0;
    margin: 0 auto;
}
    

/* CONTAINER END */

/* CART STYLE*/

.sbmt{
    height: 50px;
    width: 50px;


    text-align: center;

    background-color: transparent ;
    background-size: contain;
    background-image: url("../img/cart.png");
    background-repeat: no-repeat;

    filter: invert(1);

    border: none;
    outline: none;
}



