*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: rgb(242,147,189);
    background: linear-gradient(90deg, rgba(242,147,189,1) 0%, rgba(116,169,232,1) 100%);
    
    padding: 10px;
    font-family: 'Comic Neue', cursive;
    
    margin: 0 auto;
}

.logo {
    width: 100%;
    text-align: center;
}

/* HEADER START */

header {
    
    width: 100%;
    max-width: 1280px;

    margin: 1% auto;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    padding-bottom: 20px;
}
header a {

    text-decoration: none;

    font-size: 1em;
    color: black;
    
    
}

header a:hover {
    color: white;
    
}


/* HEADER END */
@media screen and (max-width: 550px) {
    header {
        flex-flow: row wrap;
    }
    
}

h1{
    width: 100%;
    margin: 2% auto;
    text-align: center;
    font-size: 1.3em;
    letter-spacing: 3px;
    word-spacing: 15px;
    color: rgba(244,128,178,1);
}

.container {
    
    width: 30%;
    max-width: 1280px;
    margin: 0 auto;
    padding-bottom: 20px;   
    
    border-radius: 12px 12px 0 0;
    background-color: white;
    

}

/* CONTENT AND SELECT START */


.content{
    
    width: 100%;
    
    padding: 5px;
    
    font-size: 1.3em;
    text-align: center;
    
}
.content p {
    font-size: .9em;
    
}

.content .nav{
    width: 80%;
    padding: 10px;

    font-size: .7em;
    border: none;

    cursor: pointer;
    background:  rgb(244,128,178);
}
/* COLORS */

.red{
    background: red;
}
.orange {
    background: orange;
}
.yellow {
    background: yellow;
}
.green {
    background: green;
}
.blue {
    background: rgb(9, 161, 231);
}
.darkblue {
    background: blue;
}
.purple {
    background: purple;
}


/* FORM START */
.quantity {
    width: 80%;
    height: 30px;

    text-align: center;
    font-size: .7em;

    border: none;
    background-color: rgb(244,128,178);
}
.qAndS{
    display: flex;
    flex-direction: column;
    align-items: center;
}
select {
    
    overflow-y: scroll;
}

.to_card{
    width: 30%;
    max-width: 1280px;
    margin: 0 auto;

    font-size: .7em;
    text-align: center;   

}
.sbmt{
   
    width: 100%;
    
    padding: 3%;

    border-radius: 0 0 12px 12px;
    border: none;

    color: black;
    text-decoration: none;
    font-size: 3em;
    font-family: 'Comic Neue', cursive;

    background-color: rgb(244,128,178); 
}
.sbmt:hover{

    background:  rgba(106,164,232,0.8883928571428571);
    color: white;
    
}

/* CONTENT AND SELECT END */