*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: rgb(242,147,189);
    background: linear-gradient(90deg, rgba(242,147,189,1) 0%, rgba(116,169,232,1) 100%);
    
    padding: 10px;
    font-family: 'Comic Neue', cursive;
    font-size: 30px;
    margin: 0 auto;
}

.logo {
    width: 100%;
    text-align: center;
}

/* HEADER START */

header {
    
    width: 100%;
    max-width: 1280px;

    margin: 1% auto;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    padding-bottom: 10px;
}
header a {

    text-decoration: none;

    font-size: 1em;
    color: black;
    
    
}

header a:hover {
    color: white;
    
}


/* HEADER END */
@media screen and (max-width: 768px) {
    body {
        font-size: 18px;
    }
    header {
        flex-direction: column ;
        align-items: center;
    }

    .container  {
        min-width: 350px;
    }
    
    
}

.container {
    min-height: 400px;
    width: 50%;
    max-width: 1280px;
    margin: 2% auto;
    
    border-radius: 12px;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

/* INFO ABOUT ORDERS START */


.content{
    
    width: 100%;
    
    background-color: white;
    border-radius: 12px;

    font-size: .7em;
    text-align: center;

    

}
.content:first-child{
    
    width: 100%;

    border-radius: 12px;
    background-color: white;
    
    
    font-size: .7em;
    text-align: center;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    
}

.content img{
    width: 35px;
}

.content a{

    

    display: block;
    padding: 3%;

    border-radius: 0 0 12px 12px;
    border: none;

    color: black;
    text-decoration: none;
    font-size: 1.3em;

    
    background-color: rgb(244,128,178); 
}
.content a:hover{
    color: white;
    background:  rgba(106,164,232,0.8883928571428571);
}