*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: rgb(242,147,189);
    background: linear-gradient(90deg, rgba(242,147,189,1) 0%, rgba(116,169,232,1) 100%);
    
    padding: 10px;
    font-family: 'Comic Neue', cursive;
    
    margin: 0 auto;
}

.logo {
    width: 100%;
    text-align: center;
}

/* HEADER START */

header {
    
    width: 100%;
    max-width: 1280px;

    margin: 1% auto;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 30px;
    padding-bottom: 10px;
}
header a {

    text-decoration: none;

    font-size: 1em;
    color: black;
    
    
}

header a:hover {
    color: white;
    
}


/* HEADER END */
@media screen and (max-width: 550px) {
    header {
        flex-flow: row wrap;
    }
    
}

.container {
    height: 500px;
    width: 50%;
    max-width: 1280px;
    margin: 2% auto;
    
    border-radius: 12px;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
}

/* INFO ABOUT ORDERS START */



.content{
    
    width: 100%;

    border-radius: 12px;
    background-color: white;
    
    font-size: 1.5em;
    text-align: center;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}

.content p {
    margin: 2%;
}


.content a{

    color: black;
    text-decoration: none;
 

     
}
.content a:hover{
   color: rgb(244,128,178);
}
div.message{
    text-align: center; 
    font-size: 30px;
    margin: 1% 0%;
}