*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: rgb(244,128,178);
    background: radial-gradient(circle, rgba(244,128,178,1) 0%, rgba(106,164,232,0.8883928571428571) 100%);
    padding: 10px;
    font-family: 'Comic Neue', cursive;
}
/* HEADER START */

header {
    
    width: 100%;
    max-width: 1280px;

    background: white;

    border-radius: 12px;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
}
@media screen and (max-width: 550px) {
    header {
        flex-flow: row wrap;
    }
    
}

header a   {
    width: 50%;
    
  
    padding: 2% 2%;

    text-decoration: none;
    
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 2em;
    color: black;
    
    
}

header a:hover {
    background:  rgba(106,164,232,0.8883928571428571);
    color: white;
    border-radius: 12px;
}

/* HEADER END */

.container {
    height: 500px;
    width: 50%;
    max-width: 1280px;
    margin: 2% auto;
    
    border-radius: 12px;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
}

/* INFO ABOUT ORDERS START */



.content{
    
    width: 100%;

    border-radius: 12px;
    background-color: white;
    
    font-size: 1.5em;
    text-align: center;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}

.content p {
    margin: 2%;
}


.content a{

    color: black;
    text-decoration: none;
 

     
}
.content a:hover{
   color: rgb(244,128,178);
}
div.message{
    text-align: center; 
    font-size: 30px;
    margin: 1% 0%;
}